backend:
  name: git-gateway
  branch: main
media_library:
  name: cloudinary
  config:
    cloud_name: "df9zmnqsz"
    api_key: "478137757189598"
collections:
  - label: "Global"
    name: "global"
    files:
      - label: "Header"
        name: "header"
        file: "src/lib/content/header.json"
        fields:
          - {label: Logo, name: logo, widget: image}
          - label: "Navigation Links"
            name: "navLinks"
            widget: list
            fields:
              - {label: Text, name: text, widget: string}
              - {label: Link, name: link, widget: string}
          - label: "Button"
            name: "button"
            widget: object
            collapsed: true
            fields:
              - {label: Text, name: text, widget: string}
              - {label: Link, name: link, widget: string}
      - label: "Footer"
        name: "footer"
        file: "src/lib/content/footer.json"
        fields:
          - {label: Logo, name: logo, widget: image}
          - label: "Navligation Links"
            name: "navLinks"
            widget: list
            fields:
              - {label: Link, name: link, widget: string}
              - {label: Text, name: text, widget: string}
          - label: "Agency Info"
            name: "agencyInfo"
            widget: object
            collapsed: true
            fields:
              - {label: Logo, name: logo, widget: image}
              - {label: Link, name: link, widget: string}
              - {label: Description, name: description, widget: string}
              - {label: Copyright, name: copyright, widget: string}
      - label: "Social Media"
        name: "socialMedia"
        file: "src/lib/content/social.json"
        fields:
          - {label: Facebook, name: facebook, widget: string}
          - {label: Instagram, name: instagram, widget: string}
          - {label: Linkedin, name: linkedin, widget: string}
  - label: "Static Pages"
    name: "staticPages"
    files:
      - label: "Home Page"
        name: "home"
        file: "src/lib/content/home.json"
        fields:
          - label: "Hero"
            name: "hero"
            widget: "object"
            collapsed: true
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Content, name: content, widget: text}
              - label: "Button"
                name: "button"
                widget: object
                collapsed: true
                fields:
                - {label: Text, name: text, widget: string}
                - {label: Link, name: link, widget: string}
              - {label: Background Image, name: image, widget: image}
          - label: "Content"
            name: "content"
            widget: "object"
            collapsed: true
            fields:
              - {label: Title, name: title, widget: string}
              - label: "Cards"
                name: "cards"
                widget: list
                summary: "{{fields.title}}"
                fields:
                  - {label: Icon, name: icon, widget: image}
                  - {label: Title, name: title, widget: string}
                  - {label: Content, name: content, widget: text}
              - {label: Background Image, name: image, widget: image}
          - label: "About"
            name: "about"
            widget: "object"
            collapsed: true
            fields:
              - {label: Title, name: title, widget: markdown}
              - label: "Title"
                name: "title"
                widget: object
                collapsed: true
                fields:
                  - {label: Title Start, name: title_start, widget: string}
                  - {label: Title Fancy, name: title_fancy, widget: string}
                  - {label: Title End, name: title_end, widget: string}
              - {label: Content, name: content, widget: markdown}
              - {label: Background Image, name: image, widget: image}
          - label: "Gallery"
            name:  "gallery"
            widget: "object"
            collapsed: true
            fields:
              - label: "First Section"
                name: "firstSection"
                widget: object
                collapsed: true
                fields:
                  - {label: Title, name: title, widget: string}
                  - {label: Content, name: content, widget: text}
                  - label: "Bullets"
                    name: "bullets"
                    max: 10
                    widget: list
                    fields:
                      - {label: Bullet, name: bullet, widget: string}
                  - label: "Photos"
                    name: "photos"
                    min: 3
                    max: 3
                    widget: list
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Photo, name: photo, widget: image}
              - label: "Second Section"
                name: "secondSection"
                widget: object
                collapsed: true
                fields:
                  - {label: Title, name: title, widget: string}
                  - {label: Content, name: content, widget: text}
                  - label: "Button"
                    name: "button"
                    widget: object
                    collapsed: true
                    fields:
                      - {label: Text, name: text, widget: string}
                      - {label: Link, name: link, widget: string}
                  - label: "Photos"
                    name: "photos"
                    min: 3
                    max: 3
                    widget: list
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Photo, name: photo, widget: image}
          - label: "Contact"
            name: "contact"
            widget: object
            collapsed: true
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Subtitle, name: subtitle, widget: string}
              - {label: Background Image, name: image, widget: image}
              - label: "Cards"
                name: "cards"
                widget: list
                summary: "{{fields.title}}"
                fields:
                  - {label: Icon, name: icon, widget: image}
                  - {label: Title, name: title, widget: string}
                  - {label: Content, name: content, widget: text}
                  - label: "Link"
                    name: "link"
                    required: false
                    widget: object
                    collapsed: true
                    fields:
                      - {label: Text, name: text, required: false, widget: string}
                      - {label: Link, name: link, required: false, widget: string}
          - label: "Testimonials"
            name: "testimonials"
            widget: object
            collapsed: true
            fields:
              - {label: Image, name: image, widget: image}
              - label: Testimonials
                name: testimonials
                widget: list
                fields:
                  - {label: Testimonial, name: testimonial, widget: text}
                  - {label: Author, name: author, widget: string}
      - label: "Gallery"
        name: "gallery"
        file: "src/lib/content/gallery.json"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Subtitle, name: subtitle, widget: text}
          - {label: Image, name: image, widget: image}
          - label: "Images"
            name: "images"
            widget: list
            fields:
              - {label: Title, name: title, widget: string, required: false}
              - {label: Image, name: image, widget: image}
      - label: "Privacy Policy"
        name: "privacy-policy"
        file: "src/lib/content/privacy-policy.json"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Subtitle, name: subtitle, widget: text}
          - {label: Image, name: image, widget: image}
          - {label: Content, name: content, widget: markdown}